.bg{
	background: 
	radial-gradient(#6a9fd0 3px, transparent 4px),
	radial-gradient(#6a9fd0 3px, transparent 4px),
	linear-gradient(#6397c7 4px, transparent 0),
	linear-gradient(45deg, transparent 74px, transparent 75px, #6a9fd0 75px,#6a9fd0 76px, transparent 77px, transparent 109px),
	linear-gradient(-45deg, transparent 75px, transparent 76px, #6a9fd0 76px, #6a9fd0 77px, transparent 78px, transparent 109px),
	#6397c7;
	background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
	background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

body {
  background-color: #f3fbff;
}

.user{
	width:100px;

}
.user_container{
	margin:-50px auto 0px;

}

.heading{
	font-size:60px;
	line-height: 1.2;
	font-family: 'Anton', sans-serif;
	
}

.heading2{
	font-size:20px;
	
	font-family: 'Muli', sans-serif;
}

.btn-orange{
	background-color: #ea7559;
	border-color:#ef7759;
	color:white;
}
.btn-orange:hover{
	background-color: #e56651;
	border-color:#ea7559;
	color:white;
}

.btn-yellow{
	background-color: #ffcd51;
	border-color:#eaba42;
	color:white;
}
.btn-yellow:hover{
	background-color: #eaba42;
	border-color:#e6b53b;
	color:white;
}
.btn-green{
	border:1px solid #0d8d98;
	border-bottom:2px solid #a1d5e8;
	padding:1px 10px;
	background: #0d8d98;
	color:#a1d5e8
}
.btn-green:hover{
	border:1px solid #0d7e88;
	border-bottom:2px solid #a1d5e8;
	background: #0d7e88;
	color:#a1d5e8;
}

.bg-image{
	background: linear-gradient(to top, rgba(0, 0, 0,0.4),rgba(0, 0, 0,0.1)); height: stretch;background-repeat: no-repeat;background-size: auto;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; width:100%;height:80px; padding:2px;padding-top:80px;
}
.navbar-dark .navbar-nav .nav-link{
	color:#fff;
}

@media only screen and (max-width: 900px) {
	.heading{
		font-size:40px;
		font-family: 'Anton', sans-serif;
	}

	

}

@media only screen and (max-width: 600px) {
	


}



@media (max-width: 760px)
{
	.container{
		max-width:100%;
	}


}