body{
	color:#41495b;
}
h1{
	font-family: 'Roboto', sans-serif;
	line-height: 45px;
}
h2{
	font-family: 'Roboto', sans-serif;
	line-height: 45px;
}
h3{
	line-height: 35px;
}

h5{
	line-height: 30px;
}


.bold{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
}
.s30{ font-size: 25px; }

.dotted{
	text-decoration: underline;
  text-decoration-color:#38c172;
}

.centered{
     float: none;
     margin-left: auto;
     margin-right: auto;
}