
.qno{
	background: #f6e58d;
	border:1px solid #f9ca24;
	text-align: center;
	padding:5px ;
	border-radius: 5px;
	margin-bottom:8px;

}

.question,.option{
	font-size:18px;
	margin-top:3px;
	line-height: 30px;
}
.question{
	margin-bottom: 10px;
}
.instructions{
	font-size:18px;
	line-height: 30px;
}
.speaking,.writing{
    font-size: 18px;
}
.speaking b{
	color:#f1851a;
	font-weight: 900;
}
.writing b{
	color:#dcba2f;
	font-weight: 900;
}

.op{
	background: #dfe6e9;
	border:1px solid #b2bec3;
	text-align: center;
	padding:5px ;
	border-radius: 5px;
	margin-bottom:8px;
}




