
    .plyr-bg{
        background: #0fa0ad;
        color:white;
    }
    .plyr--audio .plyr__controls{
        background: #cafbff;
        padding: 18px;
        border:0px;
        border-radius: 5px;
        color:#0fa0ad;
    }

    .plyr--full-ui input[type=range] {
  color:#52b8c1;
}

.plyr__control--overlaid {
  background: rgba(1,160,173, .9);
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #52b8c1;
}

.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px rgba(1,160,173, .9);
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: #52b8c1;
}
.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
    background: #52b8c1;
    color: #fff;
}

.part{
    background: #f8f8f8;
    padding: 30px;
    font-size:18px;
    line-height: 30px;
}

    .sidebar{
        background:#284664;
        color:white;
    }
    .sno{
        background: #345575;
        font-weight:bold;
        width:100%;
        border-radius: 15px;  
        padding:5px;
        cursor: pointer; 
    }
    
    .answered-spot{ color:#57b392; }
    .unanswered{
        color:#3c5b79;
    }
    .box a{
        color:white;
      
    }
    input.fill{
        border:0;
        border-bottom: 1.5px solid #0b5d6580;
        outline: none;
        padding:5px 8px;
        background-color: rgba(255,255,255,0.6);
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .badge-warning{
        background: #f6e58d;
        padding: 5px 8px;
        border:1px solid #f9ca24;

    }
    b{
        color:#0fa0ad;
    }
    .firstletter p::first-letter{
  font-size: 200%;
  font-weight: 900;
  color:#b3a454;
}
.size18{
    font-size: 18px;
}

    /* Reading */
.panel{ overflow:auto; min-height:200px; }
.leftpanel{ background: #fffbe6; font-size:18px; }
.leftpanel b{ color:#b3a454;font-size:18px; }
.rightpanel{background: #fff;font-size:18px; }
.heading-box{background: #f7f2d6; padding:20px;border:1px solid #e6e1c3;border-radius: 5px; }

.bottom-qno{ background: #378066; color:white;position:fixed;bottom:0;left:0;right:0}
.bottom-wrap{ padding:10px; }
.bottom-pno{ background: #a09869;
        font-weight:bold;
        width:100%;
        border-radius: 15px;  
        padding:5px;
        cursor: pointer;  }
.bottom-sno{ background: #2b6f57;
        font-weight:bold;
        width:100%;
        border-radius: 15px;  
        padding:5px;
        cursor: pointer;  }
.pallete{ margin-bottom: 25px;padding-bottom:10px; }
.pallete-control{cursor:pointer;}
.bottom-box{ width:50px;margin-right:8px; margin-bottom:8px;float:left; color:white;  }
.bottom-scroll{ overflow: auto; height:80px;padding-top: 5px; }
.section{ background-color: #438e73; padding:10px;height: 48px; }
.section2{ background-color: #2c6f56; }
.section-name{color:#e4dba3;}
.button{ border: 1px solid #6aa48f; color:#fff; }
.prev{ margin-right:3px; }
.next{margin-left: 3px;}
    .button:hover{ background-color: #58a086;  }
 .answered{
        background: #57b392;
    }
.td_answered{ background:#e6e9ec;cursor:pointer; }
.td_option{cursor: pointer;}
.sentence{ cursor: pointer; }
.sentence_selected{ background:yellow;padding:2px 5px; }

 a.white{ color:white; text-decoration: none; }
 a.white:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
    opacity: 0.8;
   }

   a.dark{ color:black; text-decoration: none; }
 a.dark:hover
  {
    color:black;
    text-decoration:none;
    cursor:pointer;
    opacity: 0.8;
   }

a.disabled{ color:#72b3b9; }
a.disabled:hover{ color:#72b3b9; }

